.layerlist-box {
  min-height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #000;
  color: #fff;
  position: absolute;
  border-radius: 2px;
  bottom: 0;
  right: 0;
  font: 14px Arial;
  user-select: none;
}

.layerlist-box label {
  display: block;
  padding: 0 10px;
  cursor: pointer;
}
