.menu-box {
  width: 300px;
  min-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #222;
  padding: 18px;
  color: #ccc;
  border-top: 1px solid #444;
  font: 14px Arial;
  user-select: none;
}

.menu-box span {
  display: inline-block;
  padding: 5px 10px;
}

.active {
  color: #fff;
}

.selected {
  background: #444;
  color: orange;
}

.hotkey {
  text-align: right;
  width: 30px;
  color: yellow;
}

.label {
  min-width: 100px;
}
